@charset "UTF-8";
.w1190, #listcontainer {
  width: 1190px;
}

.w990 {
  width: 990px;
}

.mrauto, #listcontainer {
  margin-left: auto;
  margin-right: auto;
}

.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up, #listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down, #listcontent .filter .more_filter_con .arrow_down_red, #listcontent .filter .more_pop_con a .arrow_down_red, #listcontent .sort .sort_right .prev_page i, #listcontent .sort .sort_right .next_page i {
  position: absolute;
  font: 0/0 Arial;
}

#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:after, #listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:after, #listcontent .filter .more_filter_con .arrow_down_red:after, #listcontent .filter .more_pop_con a .arrow_down_red:after, #listcontent .sort .sort_right .prev_page i:after, #listcontent .sort .sort_right .next_page i:after,
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:before,
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:before,
#listcontent .filter .more_filter_con .arrow_down_red:before,
#listcontent .filter .more_pop_con a .arrow_down_red:before,
#listcontent .sort .sort_right .prev_page i:before,
#listcontent .sort .sort_right .next_page i:before {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  content: " ";
}

#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:before, #listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:before, #listcontent .filter .more_filter_con .arrow_down_red:before, #listcontent .filter .more_pop_con a .arrow_down_red:before, #listcontent .sort .sort_right .prev_page i:before, #listcontent .sort .sort_right .next_page i:before {
  z-index: 1;
}

.breadcrumb .breadcrumbNav, #listcontent .leftBar, #listcontent .hotList .price, #listcontent .sort .sort_left, #listcontent .sort .sort_right .sort_right_left {
  display: inline;
  float: left;
}

.breadcrumb .breadcrumbRight, #listcontent .rightBar, #listcontent .hotList .soldNum, #listcontent .sort .sort_right, #listcontent .sort .sort_right .sort_right_right {
  display: inline;
  float: right;
}

.clearfix:after, .breadcrumb:after, #listcontent:after, #listcontent .goodsCate .goodsCateList_li .goodsCateSub:after, #listcontent .brands:after, #listcontent .filter .filter_item:after, #listcontent .filter .filter_con_list:after, #listcontent .sort:after, #listcontent .sort .sort_left:after, #listcontent .product_container .product_list:after, #listcontent .product_container .product_list li .product_status:after {
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix, .breadcrumb, #listcontent, #listcontent .goodsCate .goodsCateList_li .goodsCateSub, #listcontent .brands, #listcontent .filter .filter_item, #listcontent .filter .filter_con_list, #listcontent .sort, #listcontent .sort .sort_left, #listcontent .product_container .product_list, #listcontent .product_container .product_list li .product_status {
  *height: 1%;
}

#listcontent .leftBar {
  font-family: "Microsoft YaHei";
}

a:hover {
  text-decoration: none;
  color: #ee5533;
}

.icons {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  zoom: 1;
  background-image: url(../../images/icons/list_icon.png);
  background-repeat: no-repeat;
}

.breadcrumb {
  font: normal 12px/32px "宋体";
}
.breadcrumb .breadcrumbRight #clearCondition {
  color: #333;
}
.breadcrumb .breadcrumbNav_link {
  color: #333;
}
.breadcrumb .arrow_right {
  color: #999;
}
.breadcrumb .search_conditions {
  position: relative;
  color: #ee5533;
  border: 1px solid #ee5533;
  padding: 4px 6px;
}
.breadcrumb .search_conditions .close_btn {
  display: block;
  /* right: 6px;
  top: 7px; */
  width: 10px;
  height: 10px;
  background: url("../../images/img/close_btn.png") no-repeat;
  cursor: pointer;
}
.breadcrumb .search_form {
  display: inline-block;
}
.breadcrumb .search_form .search_txt {
  border: 1px solid #ccc;
  color: #999;
  padding: 4px;
}

#listcontent {
  color: #333;
}
#listcontent a {
  color: #333;
}
#listcontent .leftBar {
  width: 190px;
  overflow: hidden;
}
#listcontent .rightBar {
  width: 980px;
}
#listcontent .goodsCate {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#listcontent .goodsCate .goodsCateTitle {
  border: 1px solid #ddd;
  border-top: 0 none;
  font-size: 16px;
  padding: 6px 10px;
}
#listcontent .goodsCate .goodsCateList_li {
  background: #f3f3f3;
  padding: 0 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#listcontent .goodsCate .goodsCateList_li.goodsCateList_on {
  border-top: 1px solid #ddd;
  margin-top: -1px;
  border-bottom: 1px solid #ddd;
  border-right: none;
}
#listcontent .goodsCate .goodsCateList_li.goodsCateList_on .goodsCateSub {
  display: block;
}
#listcontent .goodsCate .goodsCateList_li.goodsCateList_on .goodsCateSubTitle {
  border-bottom: 1px solid #FFF;
  color: #ee5533;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle {
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up {
  position: absolute;
  right: 0px;
  top: -5px;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up {
  width: 16px;
  height: 16px;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:after, #listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:before {
  left: 0;
  top: 10px;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:before {
  left: 0;
  top: 8px;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:after, #listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:before {
  border: 8px solid transparent;
  border-bottom-color: #fff;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_up:before {
  border-bottom-color: #999;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down {
  position: absolute;
  right: 0px;
  top: 15px;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down {
  width: 16px;
  height: 16px;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:after, #listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:before {
  left: 0;
  top: -2px;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:before {
  left: 0;
  top: 0;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:after, #listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:before {
  border: 8px solid transparent;
  border-top-color: #fff;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSubTitle .arrow_down:before {
  border-top-color: #999;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSub {
  display: none;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSub a {
  display: block;
  float: left;
  margin: 1px;
  padding: 6px;
  width: 40%;
}
#listcontent .goodsCate .goodsCateList_li .goodsCateSub a.active, #listcontent .goodsCate .goodsCateList_li .goodsCateSub a:hover {
  color: #fff;
  background: #ee5533;
}
#listcontent .hot {
  margin-top: 10px;
  border: 1px solid #e6e6e6;
  padding: 10px;
}
#listcontent .hotList li {
  margin-top: 10px;
}
#listcontent .hotList .price {
  font-size: 14px;
  color: #ee5533;
}
#listcontent .hotList .soldNum {
  font-size: 12px;
  color: #999;
}
#listcontent .hotList .goodName {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  line-height: 20px;
}
#listcontent .brands {
  margin-top: 10px;
  border: 1px solid #e6e6e6;
}
#listcontent .brands .brands_title {
  padding: 10px;
}
#listcontent .brands li {
  float: left;
  border-right: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
#listcontent .filter {
  position: relative;
}
#listcontent .filter .filter_item {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
}
#listcontent .filter .filter_title {
  color: #999;
  font-size: 12px;
  width: 80px;
  overflow: hidden;
  float: left;
}
#listcontent .filter .filter_con_list {
  width: 860px;
  float: left;
  overflow: hidden;
}
#listcontent .filter .filter_con_list a {
  float: left;
  width: 143px;
  color: #333;
  font-size: 12px;
  display: block;
  overflow: hidden;
  margin-bottom: 12px;
}
#listcontent .filter .more_filter_con {
  float: left;
}
#listcontent .filter .more_filter_con .arrow_down_red {
  margin-top: 6px;
}
#listcontent .filter .more_filter_con .arrow_down_red {
  width: 10px;
  height: 10px;
}
#listcontent .filter .more_filter_con .arrow_down_red:after, #listcontent .filter .more_filter_con .arrow_down_red:before {
  left: 0;
  top: -3px;
}
#listcontent .filter .more_filter_con .arrow_down_red:before {
  left: 0;
  top: 0;
}
#listcontent .filter .more_filter_con .arrow_down_red:after, #listcontent .filter .more_filter_con .arrow_down_red:before {
  border: 5px solid transparent;
  border-top-color: #fff;
}
#listcontent .filter .more_filter_con .arrow_down_red:before {
  border-top-color: #ee5533;
}
#listcontent .filter .more_pop_con {
  position: absolute;
  left: 50%;
  bottom: -30px;
  margin-left: -100px;
}
#listcontent .filter .more_pop_con a {
  font-size: 12px;
  color: #333;
  display: block;
  padding: 10px 15px;
  height: 10px;
  background: #FFF;
  border: 1px solid #ddd;
  border-top: 0 none;
}
#listcontent .filter .more_pop_con a .arrow_down_red {
  margin-top: 6px;
}
#listcontent .filter .more_pop_con a .arrow_down_red {
  width: 10px;
  height: 10px;
}
#listcontent .filter .more_pop_con a .arrow_down_red:after, #listcontent .filter .more_pop_con a .arrow_down_red:before {
  left: 0;
  top: -3px;
}
#listcontent .filter .more_pop_con a .arrow_down_red:before {
  left: 0;
  top: 0;
}
#listcontent .filter .more_pop_con a .arrow_down_red:after, #listcontent .filter .more_pop_con a .arrow_down_red:before {
  border: 5px solid transparent;
  border-top-color: #fff;
}
#listcontent .filter .more_pop_con a .arrow_down_red:before {
  border-top-color: #ee5533;
}
#listcontent .sort {
  margin-top: 40px;
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 12px;
}
#listcontent .sort .sort_left {
  padding: 10px;
}
#listcontent .sort .sort_left dt {
  color: #666;
  float: left;
  margin-right: 5px;
}
#listcontent .sort .sort_left dd {
  float: left;
}
#listcontent .sort .sort_left dd a {
  border: 1px solid #e6e6e6;
  padding: 5px 20px 5px 10px;
  color: #333;
  margin-left: 5px;
}
#listcontent .sort .sort_left dd a.active {
  background: #ee5533;
  color: #FFF;
}
#listcontent .sort .sort_left dd a.active .icon_down {
  background-position: -30px -24px;
}
#listcontent .sort .sort_left dd a.active .icon_up_down {
  background-position: -10px -24px;
}
#listcontent .sort .sort_left dd a .icons {
  position: absolute;
}
#listcontent .sort .sort_left dd a .icon_down {
  margin-left: 3px;
  margin-top: 3px;
  width: 11px;
  height: 11px;
  background-position: -30px -8px;
}
#listcontent .sort .sort_left dd a .icon_up_down {
  margin-left: 3px;
  margin-top: 1px;
  width: 11px;
  height: 14px;
  background-position: -9px -6px;
}
#listcontent .sort .product_page {
  margin-left: 15px;
  margin-right: 20px;
}
#listcontent .sort .sort_right {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
}
#listcontent .sort .sort_right .product_total {
  color: #999;
}
#listcontent .sort .sort_right .product_page_current {
  color: #ee5533;
}
#listcontent .sort .sort_right .prev_page, #listcontent .sort .sort_right .next_page {
  display: block;
  width: 23px;
  height: 23px;
  border: 1px solid #e6e6e6;
  float: left;
  position: relative;
  transition: all .3s linear;
}
#listcontent .sort .sort_right .prev_page:hover, #listcontent .sort .sort_right .next_page:hover {
  border: 1px solid #333;
}
#listcontent .sort .sort_right .sort_right_left {
  margin-top: 5px;
}
#listcontent .sort .sort_right .prev_page {
  margin-right: 5px;
}
#listcontent .sort .sort_right .prev_page i {
  top: 30%;
  left: 0;
}
#listcontent .sort .sort_right .prev_page i {
  width: 10px;
  height: 10px;
}
#listcontent .sort .sort_right .prev_page i:after, #listcontent .sort .sort_right .prev_page i:before {
  left: 7px;
  top: 0;
}
#listcontent .sort .sort_right .prev_page i:before {
  left: 5px;
  top: 0;
}
#listcontent .sort .sort_right .prev_page i:after, #listcontent .sort .sort_right .prev_page i:before {
  border: 5px solid transparent;
  border-right-color: #fff;
}
#listcontent .sort .sort_right .prev_page i:before {
  border-right-color: #333;
}
#listcontent .sort .sort_right .next_page i {
  top: 30%;
  left: 45%;
}
#listcontent .sort .sort_right .next_page i {
  width: 10px;
  height: 10px;
}
#listcontent .sort .sort_right .next_page i:after, #listcontent .sort .sort_right .next_page i:before {
  left: -2px;
  top: 0;
}
#listcontent .sort .sort_right .next_page i:before {
  left: 0;
  top: 0;
}
#listcontent .sort .sort_right .next_page i:after, #listcontent .sort .sort_right .next_page i:before {
  border: 5px solid transparent;
  border-left-color: #fff;
}
#listcontent .sort .sort_right .next_page i:before {
  border-left-color: #333;
}
#listcontent .product_container {
  width: 980px;
  font-size: 12px;
  margin-top: 20px;
}
#listcontent .product_container .product_list {
  margin: 0 -10px;
}
#listcontent .product_container .product_list li {
  width: 224px;
  float: left;
  margin: 0 10px;
  overflow: hidden;
  border: 3px solid #FFF;
  padding-bottom: 2px;
  transition: all .3s linear;
}
#listcontent .product_container .product_list li .product_list_container {
  padding: 7px;
}
#listcontent .product_container .product_list li .product_price {
  color: #ee5533;
  font-size: 16px;
}
#listcontent .product_container .product_list li .product_name {
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 22px;
}
#listcontent .product_container .product_list li .product_name a:hover {
  color: #ee5533;
  text-decoration: underline;
}
#listcontent .product_container .product_list li .product_status {
  color: #999;
  margin-bottom: 15px;
}
#listcontent .product_container .product_list li .product_comment {
  color: #999;
  margin-right: 12px;
}
#listcontent .product_container .product_list li .product_comment em {
  color: #dd8888;
}
#listcontent .product_container .product_list li .product_comment:hover em {
  color: #ee5533;
  text-decoration: underline;
}
#listcontent .product_container .product_list li .operation {
  border-top: 1px solid #e6e6e6;
  margin: 0 -4px;
}
#listcontent .product_container .product_list li .operation .add_cart {
  float: left;
  width: 60%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#listcontent .product_container .product_list li .operation .add_cart a {
  display: block;
  border-right: 1px solid #e6e6e6;
  color: #333;
  text-indent: 5px;
}
#listcontent .product_container .product_list li .operation .add_cart a:hover {
  background: #ee5533;
  color: #FFF;
}
#listcontent .product_container .product_list li .operation .add_cart a:hover .icon_cart {
  background-position: -75px -7px;
}
#listcontent .product_container .product_list li .operation .add_cart .icon_cart {
  width: 18px;
  height: 13px;
  background-position: -50px -7px;
}
#listcontent .product_container .product_list li .operation .do_attention {
  float: left;
  width: 40%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#listcontent .product_container .product_list li .operation .do_attention a {
  display: block;
}
#listcontent .product_container .product_list li .operation .do_attention a:hover {
  background: #ee5533;
  color: #FFF;
}
#listcontent .product_container .product_list li .operation .do_attention a:hover .icon_fav {
  background-position: -180px -6px;
}
#listcontent .product_container .product_list li .operation .do_attention .icon_fav {
  width: 15px;
  height: 12px;
  background-position: -204px -6px;
}
#listcontent .product_container .product_list li:hover {
  border: 3px solid #ee5533;
}

.bar_title {
  color: #333;
  font-size: 16px;
}

.nobottom {
  border-bottom: none !important;
}

.noright {
  border-right: none !important;
}

/*# sourceMappingURL=list.css.map */
